header {
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: dodgerblue;
}

ul {
    list-style: none;
}

.table-header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

.show-entries {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-filters {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-filter {
    /* padding: 1rem; */
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search {
    margin: 1rem;
}

.employee-image {
    position: relative;
    max-height: 100px;
    max-width: auto;
    transition: ease;
    transform: scale(1);
    z-index: 0;
}

.employee-image:hover {
    position: relative;
    transform: scale(5);
    z-index: 5000;
}

.employee-row {
    max-height: 200px;
    z-index: 0;
}